@import "../../UI/styles/vars.scss";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
//////////
    .BlockLeft {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px;
        height: 100vh;
        gap: 10px;
        .GoBackToTheMainPage {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .GoToMain {
                flex: 1;
                    svg {
                        width: 40px;
                        height: 40px;
                        transform: rotate(180deg);
                        cursor: pointer;
                        transition: filter 0.2s ease;
                        fill: var(--white);
                    }
            }
        }
        .GoBackToTheMainPage:hover svg {
            -webkit-filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
            filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
        }
    }
/////////
    .BlockCenter {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex: 3;
        padding: 10px 0px;
        // gap: 10px;
        .FullCoursContent {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 10px;
            .Name {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .content {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                .scrollMargin {
                    margin-right: 5px;
                }
                .ImageBody {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    overflow: hidden;
                    position: relative;
                    padding: 10px;
                    img {
                        width: 100%;
                        max-width: 700px;
                        height: auto;
                        display: flex;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
                .textBlock {
                    width: 100%;
                    padding: 10px;
                    font-size: 14px;
                }
                .TestBody {
                    margin-right: 5px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .questionText {
                        padding: 10px 0px;
                    }
                    .correctAnswer {
                        padding: 5px;
                    }
                    .AnsvertInput {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }
            // .BulletsBox {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     margin-bottom: 10px;
            //     padding: 10px;
            //    ul {
            //     display: flex;
            //     gap: 10px;
            //    }
            // }
        }
    }
///////////
    .BlockRight {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 100vh;
        flex: 1;
        padding: 10px;
        .blockTime {
            .timer {
                text-align: center;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}

.option {
    padding: 10px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }

.option:hover,
.option.active {
  background-color: var(--main-color);
  color: white;
}

.answer {
    gap: 10px;
    padding: 10px;
    display: flex;
}

.finishBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        svg {
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: filter 0.2s ease;
            fill: var(--white);
        }
}
.finishBlock:hover svg {
    -webkit-filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
    filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
}

.headerModal {
    width: 100%;
    display: flex;
    border-bottom: 2px solid var(--main-color);
    h2 {
        flex: 1;
    }
    .closeIconBlock {
        flex: 1;
        text-align: right;
        svg {
            fill: $danger;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: filter 0.2s ease;
        }
    }
}

.headerModal:hover svg {
    -webkit-filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
    filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
}

.headerModal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.bodyModal {
    width: 100%;
    height: 160px;
    // padding: 0px 20px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    p {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 700;
    }
}

.footerModal {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}