.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
//////////
    .BlockLeft {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px;
        height: 100vh;
        gap: 10px;
        .GoBackToTheMainPage {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .GoToMain {
                flex: 1;
                    svg {
                        width: 40px;
                        height: 40px;
                        transform: rotate(180deg);
                        cursor: pointer;
                        transition: filter 0.2s ease;
                        fill: var(--white);
                    }
            }
        }
        .GoBackToTheMainPage:hover svg {
            -webkit-filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
            filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
        }
    }
/////////
    .BlockCenter {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex: 4;
        padding: 10px 0px;
        gap: 10px;
        .title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .scrollMarginBlock {
            height: 100%;
            overflow-y: auto;  
            .scrollMargin {
                margin-right: 5px;
            }          
            .content {
                width: 100%;
                height: 100%;
                margin-right: 5px;
                .ImageBody {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    overflow: hidden;
                    position: relative;
                    padding: 10px;
                    img {
                        width: 100%;
                        max-width: 700px;
                        height: auto;
                        display: flex;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
                .textBlock {
                    width: 100%;
                    padding: 10px;
                    table {
                        border-spacing: 0 !important;
                        border-collapse: collapse !important;
                        border-color: inherit !important;
                        display: block !important;
                        width: max-content !important;
                        max-width: 100% !important;
                        overflow: auto !important;
                        margin: 5px !important;
                    }
                    
                    tbody, td, tfoot, th, thead, tr {
                        border-color: var(--main-color) !important;
                        border-style: solid !important;
                        border-width: 2px !important;
                        padding: 5px !important;
                    }
                    a {
                        color: var(--main-color) !important;
                    }
                    p {
                        text-indent: 20px !important;
                        padding: 5px 0px !important;
                    }
                }
            }
        }
            // .BulletsBox {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     margin-bottom: 10px;
            //     padding: 10px;
            //    ul {
            //     display: flex;
            //     gap: 10px;
            //    }
            // }
    }
///////////
    .BlockRight {
        width: 100%;
        height: 100vh;
        flex: 1;
        padding: 10px;
    }
}

.SubSectionsText {
    padding: 10px;
    table {
        border-spacing: 0 !important;
        border-collapse: collapse !important;
        border-color: inherit !important;
        display: block !important;
        width: max-content !important;
        max-width: 100% !important;
        overflow: auto !important;
        margin: 5px !important;
    }
    
    tbody, td, tfoot, th, thead, tr {
        border-color: var(--main-color) !important;
        border-style: solid !important;
        border-width: 2px !important;
        padding: 5px !important;
    }
}

.MarkDown {
    table, tbody, td, tfoot, th, thead, tr, ul, li, ol, h1, h2, h3, h4, h5 {
        padding: 5px;
        margin: 5px;
     }
}

.HiddenTabContent {
    display: none;
}

.ActiveTabContent {
    display: block;
}

.TabButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .TabButton {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }
    .TabButton:hover {
        background-color: var(--main-color);
        border-radius: 10px;
        color: var(--white);
        cursor: pointer;
    }
    .ActiveTabButton {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        color: var(--white);
        border-radius: 10px;
        cursor: pointer;
    }
}

.highlight {
    background-color: rgba(173, 216, 230, 0.5);
}

.SubSectionsName {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--main-color);
    h1 {
        
    }
}

.fullCoursImageBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .fullCoursImage {
        grid-row: span 2;
        width: 100%;
        max-width: 700px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        margin-top: 10px;
        img {
            width: 100%;
            height: auto;
            display: flex;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
