@import "../../../UI/styles/vars.scss";

.BlockCenter {
    width: 100%;
    height: 100vh;
    flex: 4;
    .header {
        margin-top: 10px;
        .HeaderRow {
            display: flex;
            gap: 10px;
        }
        .headerList {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 40px;
    
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 40px;
            }
        
            li {
                display: flex;
                cursor: pointer;
                padding: 5px 10px;
                box-sizing: border-box;
                position: relative;
                .line {
                    position: absolute;
                    bottom: -2px;
                    height: 2px;
                    background-color: var(--main-color);
                    transition: width 0.3s ease, transform 0.3s ease;
                    width: 0;
                    left: 0;
                    transform: translateX(0);
                }
                &.active .line {
                    width: 100%;
                    transform: translateX(0);
                }
    
                &:hover .line {
                    width: 100%;
                    transform: translateX(0);
                }
            }
            .AdminButton {
                padding: 0;
            }
        }
    }

    .body {
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        margin-bottom: 10px;
    }
    
    .body ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .body ul li {
        display: none;
        .Content {
            display: flex;
            gap: 10px; 
            cursor: pointer;
        }
        .TestContent {
            display: flex;
            flex-direction: column;
            gap: 10px; 
            cursor: pointer;
        }
        .ImageBody {
            grid-row: span 2;
            width: 100%;
            max-width: 250px;
            height: 100%;
            max-height: 250px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: auto;
                display: flex;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .DescriptionBody {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: max-content;
            max-height: 200px;
        }
        
        .Name {
            padding: 5px;
            height: max-content;
            h2 {
            padding-bottom: 10px;
            border-bottom: 2px solid var(--main-color);
            }
        }
        
        .Description {
            // padding: 5px;
            height: max-content;
            max-height: 200px;
        }        
        .TestCriteria {
            display: flex;
            flex-direction: column;
            grid-column: 2;
            grid-row: 3;
            width: 100%;
            height: 100%;
            gap: 10px;
        }
        .Time {
            display: flex;
            padding: 5px;
            justify-content: flex-end;
        }
    }
    
    .body ul li.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 5px;
    }
}

.testHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .headerTabs {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 5px 10px;
        box-sizing: border-box;
        position: relative;
        h2 {
            width: max-content;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .line {
            position: absolute;
            bottom: -2px;
            height: 2px;
            background-color: var(--main-color);
            transition: width 0.3s ease, transform 0.3s ease;
            width: 0;
            left: 0;
            transform: translateX(0);
        }
        &.active .line {
            width: 100%;
            transform: translateX(0);
        }

        &:hover .line {
            width: 100%;
            transform: translateX(0);
        }
    }
}

.TestTab {
    display: none;
    &.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 5px;
    }
}

.Test {
    list-style: none;
    display: none;
    &.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 5px;
    }
}

.headerModal {
    width: 100%;
    display: flex;
    border-bottom: 2px solid var(--main-color);
    h2 {
        flex: 1;
    }
    .closeIconBlock {
        flex: 1;
        text-align: right;
        svg {
            fill: $danger;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: filter 0.2s ease;
        }
    }
}

.headerModal:hover svg {
    -webkit-filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
    filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .7));
}

.headerModal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.bodyModal {
    width: 100%;
    height: 160px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        padding: 5px;
    }
    ul {
        li {
            padding: 5px;
        }
    }
}

.footerModal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
}

.noImageIcon {
    width: 100px;
}